<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567592938140-h4padroc4qslarncq54mkmkmjkljeo3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567592938140-h4padroc4qslarncq54mkmkmjkljeo3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567592938140-fk5eujm370r32bh3t0urqt2unn0q9itp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkYtjbfQG8OxHctKNxX7fC58FQR6UhYpM</string>
	<key>GCM_SENDER_ID</key>
	<string>567592938140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.armandohackcode.appEvents</string>
	<key>PROJECT_ID</key>
	<string>gdgsucre-events</string>
	<key>STORAGE_BUCKET</key>
	<string>gdgsucre-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567592938140:ios:d333f697350c9afc7bdb59</string>
</dict>
</plist>